@font-face {
  font-family: "Mario";
    src: URL("Mario.ttf") format("TrueType");
}
html{
  cursor: url("dani071.cur"), auto;
}
body {
  /*background-color: #e4edff;*/
  background-image: url("bg.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  padding:50px;
  max-width: 500px;
  margin: auto;
  font: 14px/1.5 "Noto Sans", "Mario", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*color:#3d3d3d;*/
  color: rgb(248, 231, 205);
  font-weight:400;
}
section {
  background-color: #00006a;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(248, 231, 205);
}


h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
font-family: "Mario";
/*text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
/*text-shadow: 1px 0 0 #777777, 0 -1px 0 #777777, 0 1px 0 #777777, -1px 0 0 #777777;*/
text-shadow:2px 2px 10px rgb(0, 0, 0);
font-size:200%;
font-size: 0;     // whitespaces go away
text-align: center;
}
.container {
  font-size: 0;
  text-align: center;
}
.container span {
  font-size: 34px;
}
p {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;

}
span{
  letter-spacing: 0px; 
}  

/*RAINBOW TEST*/


.rainbow-textRed {
-webkit-animation:colorchangeRed 12s
infinite alternate;
color: red;
}

@-webkit-keyframes colorchangeRed {
      
      25% {
        
        color: red;
      }
      
      50% {
        
        color: yellow;
      }
      
      75% {
        
        color: blue;
      }
      
      100% {
        
        color: green;
      }
    }





.rainbow-textBlue {
-webkit-animation:colorchangeBlue 12s
infinite alternate;
color: blue;

}
@-webkit-keyframes colorchangeBlue {
      
      25% {
        
        color: blue;
      }
      
      50% {
        
        color: green;
      }
      
      75% {
        
        color: red;
      }
      
      100% {
        
        color: yellow;
      }
    }

.rainbow-textYellow {
-webkit-animation:colorchangeYellow 12s
infinite alternate;
color: yellow;

}
@-webkit-keyframes colorchangeYellow {
      
      25% {
        
        color: yellow;
      }
      
      50% {
        
        color: blue;
      }
      
      75% {
        
        color: green;
      }
      
      100% {
        
        color: red;
      }
    }


.rainbow-textGreen {
-webkit-animation:colorchangeGreen 12s
infinite alternate;
color: green;

}
@-webkit-keyframes colorchangeGreen {
      
      25% {
        
        color: green;
      }
      
      50% {
        
        color: red;
      }
      
      75% {
        
        color: yellow;
      }
      
      100% {
        
        color: blue;
      }
    }

/*END OF RAINBOW TEST*/
h2 {
  color: rgb(248, 231, 205);
    font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
}

h3, h4, h5, h6 {
  color: rgb(248, 231, 205);
    font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;

}

a {
  color:#267CB9;
  text-decoration:none;
}

a:hover, a:focus {
  color:#069;
  font-weight: bold;
}
img{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;  
}
/*pre {
    color: black;
    font-size:4px;
    white-space: pre;
    text-align: center;
  margin: auto;
  background-color: #4747BF;
}*/ 
a small {
  font-size:11px;
  color:#777;
  display:block;
}

a:hover small {
  color:#777;
}


blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

}
div {
background-color: ;#e4edff;
}



